@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif !important;
}

/* HEADER */

.egg {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 64px;
}

/* SEARCHBAR */
.search-bar-container {
    display: flex;
    align-items: center;
    background-color: #F0EFEF;
    border-radius: 50px;
    width: 500px;
}

.search-input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-size: 16px;
}

.search-button {
    background-color: #00CC86;
    color: white;
    border: none;
    border-radius: 0px 25px 25px 0px;
    padding: 8px 8px;
    cursor: pointer;
}

/* NAVBAR */
.navpages {
    display: flex;
    align-items: center;
    padding: 29px 68px;
    background-color: black;
    gap: 30px;
    height: 100px;
}

.navpages a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    padding-bottom: 40px 0;
}


.heart {
    padding-right: 32px;
}


/* MAIN */
.containerbanner {
    height: 400px;
    background-image: url(../public/banner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.containerbanner h1 {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 18px;
}

.containerbanner h5 {
    font-size: 20px;
    font-weight: 500;
}

.find {
    background-color: #6666FF;
    border: none;
    border-radius: 50px;
    color: white;
    padding: 7px 20px;
    cursor: pointer;
    margin-top: 20px;
    font-weight: 500;
}


/* PRODOTTI IN EVIDENZA */
.containerevidenza {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
}


.evidenza {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}



.evidenza img {
    width: 200px;
}


/* PRODOTTI IN PROMOZIONE */

.containerpromozioni {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background-color: #ECF6FB;
}


.promozioni {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.promozioni img {
    width: 200px;
}

/* IMG SOPRA IL FOOTER */
.containerimg {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

/* FOOTER */
footer {
    /* height: 388px; */
    background-color: black;
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    padding: 40px 0;
}

footer .container {
    max-width: 92.5%;
    margin: 0 auto;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
    border-bottom: 0.5px solid #00FFA8;
}

footer .container div {
    flex-basis: 40%;
}

footer .container nav {
    flex-basis: 60%;
}

footer img {
    max-width: 50%;
    margin-bottom: 10px;
}

footer nav {
    display: flex;
    justify-content: space-between;
}

footer a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    display: block;
}

footer nav div * {
    margin-bottom: 10px;
}

footer nav h3 {
    font-size: 16px;
    font-weight: 600;
}

footer .center {
    margin-top: 40px;
    text-align: center;
}

footer nav .socials {
    display: flex;
    gap: 20px;
}