@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif !important;
}

/* HEADER */

.egg {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 64px;
}

header {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 5;
}

.menu-button {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
}

/* ICONE */

.heart {
    padding-right: 32px;
    color: black;
    font-size: 25px;
}

/* HEART HOVER */
.heart:hover {
    color: #dc0000;
}


/* CART */
.cart {
    padding-right: 32px;
    color: black;
    font-size: 25px;
}

/* HEART HOVER */
.cart:hover {
    color: #6666FF;
}


/* SEARCHBAR */
.search-bar-container {
    display: flex;
    align-items: center;
    background-color: #F0EFEF;
    border-radius: 50px;
    width: 500px;
}

.search-input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-size: 16px;
}

.search-button {
    background-color: #00CC86;
    color: white;
    border: none;
    border-radius: 0px 25px 25px 0px;
    padding: 8px 8px;
    cursor: pointer;
}

/* NAVBAR */
.navpages {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    padding: 29px 68px;
    background-color: black;
    gap: 40px;
    height: 75px;
}

.navpages a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    transition: transform 0.2s ease, color 0.2s ease;
}

/* HOVER NAVBAR */
.navpages a:hover {
    color: #9797ff;
    transform: scale(1.1);
}



.navpages a.active {
    color: #9797ff;
    /* Colore del link attivo */
    transform: scale(1.1);
    /* Effetto di trasformazione */
    font-weight: bold;
    /* Evidenzia il link attivo */
}

/* MAIN */
.containerbanner {
    height: calc(100vh - 173px);
    background-image: url(../banner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.containerbanner h1 {
    font-size: 65px;
    font-weight: 800;
    margin-bottom: 18px;
}

.containerbanner h5 {
    font-size: 35px;
    font-weight: 600;
    font-style: normal;
}

.find {
    background-color: #6666FF;
    border: none;
    border-radius: 50px;
    color: white;
    padding: 7px 20px;
    cursor: pointer;
    margin-top: 20px;
    font-weight: 500;

}


/* PRODOTTI PRODUCT CARD*/

.cardcontainer {
    width: 285px;
    height: 470px;
    background-color: #F8F8FF;
    border-radius: 10px;
    padding: 10px;
}

.containerpromozioni .cardcontainer {
    background-color: none !important;
}

.imgcontainer {
    width: 100%;
    height: 360px;
}

.imgcontainer img {
    height: 100%;
    display: block;
    margin: 0 auto;
    max-width: 100%;
    object-fit: contain;
}

.imgcontainer img:hover {
    transform: scale(0.97);
    transition: all 0.3s ease-in-out;
}

.textcontainer {
    margin: 20px 0 10px 0;
    line-height: 0.3;
    width: 100%;
}

.pricecontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}


/* ICONE */
.iconcontainer {
    margin-left: 240px;
    padding-top: 20px;
    cursor: pointer;
}


#hearthome {
    padding-top: 5px;
    margin-left: 2px;
    padding-bottom: 17px;
    color: black;
    font-size: 22px;
    cursor: pointer;
    transition: color 0.3s ease;
}

/* HEART HOVER */
#hearthome:hover {
    color: #dc0000;
}

/* Active heart icon */
#hearthome.active {
    color: red;
}


/* CART */
#carthome {
    color: black;
    font-size: 22px;
}

/* HEART HOVER */
#carthome:hover {
    color: #6666FF;
}





/* REGOLE GENARALI H2 */

main h2 {
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 10px;
    text-align: center;
    padding-top: 40px;
}


/* PRODOTTI IN EVIDENZA DALLA PAGINA PRODCUT LIST */
.evidenza {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 40px 0;
}


/* PRODOTTI IN PROMOZIONE DALLA PAGINA PRODCUT LIST */
.promozioni {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 40px 0;
}


/* BOTTONI PRODUCT LIST */
.scroll-button {
    background: rgba(108, 99, 255, 0.7);
    color: white;
    border: none;
    border-radius: 30px;
    padding: 5px 10px;
    cursor: pointer;
    font-weight: 800;
    font-size: 19px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    transition: all 0.25s ease-in-out;
}

.scroll-button:hover {
    transform: scale(1.05);
}


/* CARD PAGE */

.card-banner {
    background-image: url(../banner4.png);
    color: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 173px);

    background-position: 50% 75%;
    background-size: cover;
}

/* CARD PAGE */
.titlepage:hover {
    color: #9797ff;
    cursor: pointer;
}



/* MANGA PAGE */

.manga-banner {
    background-image: url(../banner2.png);
    color: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 173px);
    background-position: 50% 75%;
    background-size: cover;
}

/* FIGURE PAGE */
.figure-banner {
    background-image: url(../banner3.png);
    color: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 173px);
    background-position: 50% 75%;
    background-size: cover;
}



/* PAGINA NEW ARRIVALS */

.newarrivals-banner {
    background-image: url(../banner7.png);
    color: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 173px);
    background-position: 50% 60%;

}


/* PAGINA ON SALE */

.onsale-banner {
    background-image: url(../banner8.png);
    color: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 173px);
    background-position: 50% 60%;
    background-size: cover;

}




/* PAGINA NOT FOUND */

.notfound-banner {
    background-image: url(../banner5.png);
    color: white;
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 173px);
    background-position: 50% 50%;
    background-size: cover;
}


.success-banner {
    background-image: url(../banner9.png);
    color: white;
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 173px);
    background-position: 50% 90%;
    background-size: cover;
}

.success-banner h2 {
    text-align: center;
    padding-top: 20px;
    font-weight: 800;
    font-size: 80px;
}

.success-banner {
    text-align: center;
    padding-top: 10px;
    font-weight: 400;
    font-size: 25px;
}


/* PAGINA wishlist */



.wishlist-banner {
    background-image: url(../banner6.png);
    color: white;
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 173px);
    background-position: 50% 50%;
    background-size: cover;
    padding: 0 50px;
}

.wishlist-cover .img-container {
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.wishlist-cover .img-container img {
    display: block;
    height: 100%;
    margin: 0 auto;
}

/* cart  */
.card-cart .img-container {
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.card-cart .img-container img {
    display: block;
    height: 100%;
    margin: 0 auto;
}



/* product grid */
.product-grid {
    padding: 40px 0;
    width: 92.5%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;

}

/* DIVISORE*/

/* divisore test  */
.divisore {
    width: 90%;
    margin: auto;
    margin-top: 30px;
}

.divisore img {
    max-width: 100%;
    margin-bottom: 50px;
}


/* IMG SOPRA IL FOOTER */
.container-img-sopra-footer {
    display: flex;
    justify-content: center;
    padding: 60px;
}

/* IMPOSTAZIONI PAGINE */
.titlepage {
    text-align: center;
    padding-top: 20px;
    font-weight: 800;
    font-size: 80px;

}

/* CART PAGE */
.cart-cover {
    background-image: url(../cart-cover.png);
    color: white;
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 173px);
    background-position: 50% 50%;
    background-size: cover;
    padding: 0 50px;
}

.card-cart {
    background-color: rgba(255, 255, 255, 0.5) !important;

}



/* SEARCH PAGE */
.search-page {
    padding: 20px;

}

#griglia {
    margin-left: 19px;
}

/* Titolo della pagina */
.titlesearch {
    color: #333;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
    font-weight: 800;
    font-size: 70px;
}

/* Sezione del form di ricerca senza background */
.search-page form {
    padding: 20px;
    border-radius: 8px;
    background-color: transparent;
    /* Rimosso il background */
}

/* Form group */
.search-page .form-group {
    width: 30%;
}

.search-page .form-group label {
    font-weight: 600;
    color: #444;
}

/* Input e select del form di ricerca */
.search-page .form-group input,
.search-page .form-group select {
    margin-top: 5px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* Bottone per la ricerca */
.search-page .btn {
    margin-bottom: 5px;
    background-color: #9797ff !important;
    border: none !important;
}

/* Contenitore dei prodotti (qui mettiamo il background) */
.search-page .product-grid {
    margin-top: 30px;
    padding: 20px;
    border-radius: 8px;
}

/* grid to list */
.search-page .product-grid-list {
    margin: 30px auto;
    padding: 20px;
    border-radius: 8px;
}

.search-page .product-grid-list .cardcontainer {
    margin: 0 auto;
    display: flex;
    width: 500px;
    height: auto !important;
    background-color: #F8F8FF;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 40px;
    position: relative;

}

.search-page .product-grid-list .cardcontainer .imgcontainer {
    display: flex;
    width: 100%;
    height: 250px;

}

.search-page .product-grid-list .cardcontainer .iconcontainer {
    margin-left: 0 !important;
    padding-top: 20px;
    cursor: pointer;
    position: absolute;
    right: 33%;
    bottom: 30%;
    /* display: flex; */
    flex-direction: column;
}

.search-page .product-grid-list .cardcontainer .iconcontainer i {
    margin-right: 20px;
}


.search-page .product-grid-list .cardcontainer .textcontainer {
    margin: 20px 0 20px 0;
    line-height: 0.3;
    width: 100%;
}

.search-page .product-grid-list .cardcontainer .textcontainer * {
    margin-bottom: 20px;
}

/* Messaggi di caricamento o errore */
.search-page .loading,
.search-page .error {
    margin-top: 20px;
}

div#product-section button.btn.btn-primary {
    display: none;
}



/* pagine di dettaglio footer */
/* Stili pagine informative */
.info-page-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 40px 20px;
}

.info-header {
    text-align: center;
    margin-bottom: 50px;
}

.info-header h1 {
    font-size: 70px;
    font-weight: 600;
    margin-bottom: 10px;
}

.info-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.info-section {
    padding: 25px;
    background-color: #f5f5f5;
    border-radius: 8px;
}

.info-section h3 {
    color: #333;
    margin-bottom: 15px;
}

.info-section p {
    color: #666;
    margin-bottom: 8px;
    line-height: 1.5;
}

.values-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    margin-top: 2rem;
}

.value-card {
    padding: 2rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.contact-section {
    text-align: center;
    background-color: #f5f5f5;
    padding: 3rem;
    border-radius: 8px;
}


/* FOOTER */
footer {
    /* height: 388px; */
    background-color: black;
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    padding: 40px 0;
}

footer .container {
    max-width: 92.5%;
    margin: 0 auto;
    padding-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 0.5px solid #00FFA8;
}

footer .container div {
    flex-basis: 40%;
}

footer .container nav {
    flex-basis: 60%;
}

footer img {
    max-width: 50%;
    margin-bottom: 10px;
}

footer nav {
    display: flex;
    justify-content: space-between;
}

footer a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    display: block;
}

footer nav div * {
    margin-bottom: 10px;
}

footer nav h3 {
    font-size: 16px;
    font-weight: 600;
}

footer i {
    display: none !important;
}

footer .center {
    margin-top: 40px;
    text-align: center;
}

footer nav .socials {
    display: flex;
    gap: 20px;
}

footer nav .socials a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

footer nav .socials i {
    display: inline !important;
}

footer a:hover {
    color: #6666FF !important;
}


/* DETAIL PAGE */
.product-detail-container {
    padding: 40px;
    max-width: 1200px;
    margin: 20px auto;
    border-radius: 8px;
}

.product-detail-wrapper {
    display: flex;
    gap: 40px;
    align-items: flex-start;
}

.product-image-container {
    max-width: 350px;
}

.product-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: contain;
}



.product-title {
    font-size: 40px;
    margin-bottom: 20px;
    color: #333;
}

.product-description {
    font-size: 18px;
    line-height: 1.6;
    color: #666;
    margin-bottom: 20px;

}


.product-details-title {
    font-size: 25px;
    margin-bottom: 15px;
    color: #333;
}

.product-details-list {
    list-style: none;
    padding: 0;
}

.product-detail-item {
    margin-bottom: 10px;
    color: #555;
}

.product-detail-item strong {
    color: #333;
}


/* GENESTIONE RESPONSIVE */

.menu-button {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
}

/* Sidebar */
.sidebar {
    position: fixed;
    top: 0;
    left: -100%;
    width: 250px;
    height: 100vh;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    transition: left 0.3s ease-in-out;
}

.sidebar.open {
    left: 0;
}

/* Bottone chiusura sidebar */
.close-button {
    background: none;
    border: none;
    cursor: pointer;
    color: white;
    align-self: flex-end;
}

/* Sidebar logo */
.sidebar-logo img {
    height: 60px;
    margin-bottom: 20px;
}

/* Sidebar navbar */
.sidebar-nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sidebar-nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    transition: color 0.2s ease;
}

.sidebar-nav a:hover {
    color: #6666FF;
}


/* Responsive Design */
@media (max-width: 1200px) {
    .search-bar-container {
        width: 400px;
    }

    .egg {
        padding: 24px 40px;
    }

    .navpages {
        padding: 29px 40px;
    }

    .container-img-sopra-footer {
        display: none;

    }

    .containerbanner h1 {
        font-size: 45px;
        text-align: center;
        padding: 0 20px;
    }

    .containerbanner h5 {
        font-size: 24px;
        text-align: center;
        padding: 0 20px;
    }
}

/*  */
@media (max-width: 980px) {

    /* Banner adjustments */
    .containerbanner,
    .card-banner,
    .manga-banner,
    .figure-banner,
    .newarrivals-banner,
    .onsale-banner,
    .notfound-banner,
    .success-banner,
    .wishlist-banner {
        height: calc(50vh);
        background-size: fill;
        min-width: 100%;
        background-position: 50% 0%;
    }

    .find {
        padding: 5px 18px;
        margin-top: 18px;
        font-weight: 400;
    }

    .titlepage {
        text-align: center;
        padding-top: 20px;
        font-weight: 800;
        font-size: 40px;
    }



    .titlepage:hover {
        display: none;
    }

    .navpages {
        display: none;
    }

    .egg {
        padding: 16px 24px;
        flex-wrap: wrap;
        gap: 15px;
    }

    .menu-button {
        order: 1;
    }

    .logo {
        order: 2;
    }

    .search-bar {
        order: 4;
    }

    .wish-cart {
        order: 3;
    }


    /* Mostra il pulsante hamburger menu */
    .menu-button {
        display: inline-block;
    }

    .logo {
        padding: 0 10px;
    }

    /* Rendi il contenitore della search bar un blocco intero */
    .search-bar {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 10px;

    }

    .wish-cart {
        display: inline-block;
    }

    .heart {
        padding-right: 3px;
    }

    .cart {
        padding: 0px;
    }

    .search-input {
        width: 100%;
    }

    .containerbanner h1 {
        font-size: 40px;
        text-align: center;
        padding: 0 20px;
    }

    .containerbanner h5 {
        font-size: 24px;
        text-align: center;
        padding: 0 20px;
    }

    /* Product grid adjustments */
    .product-grid {
        width: 100%;
        padding: 20px;
        gap: 20px;
    }

    /* Detail page responsive */
    .product-detail-wrapper {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .product-image-container {
        max-width: 100%;
    }

    .product-title {
        font-size: 32px;
        text-align: center;
    }

    .container-img-sopra-footer {
        display: none;

    }


}



@media screen and (max-width: 768px) {

    .containerbanner h1 {
        font-size: 31px;
        text-align: center;
        padding: 0 20px;
    }

    .containerbanner h5 {
        font-size: 18px;
        text-align: center;
        padding: 0 20px;
    }

    .find {
        padding: 4px 16px;
        margin-top: 16px;
        font-weight: 300;
    }

    .container-img-sopra-footer {
        display: none;

    }


    /* .search form  */
    .search-page .form-group {
        width: 100%;
    }

    /* footer */
    footer .container {
        flex-direction: column;
        padding-bottom: 0;
    }

    footer .container div,
    footer .container nav {
        flex-basis: 100%;
    }

    footer .container div {
        margin-bottom: 20px;
    }


    footer nav {
        flex-direction: column;
    }

    footer nav i {
        display: inline;
    }

    footer nav .accordion-title {
        display: flex;
        justify-content: space-between;
    }

    footer nav .socials {
        justify-content: center;
    }

    footer img {
        max-width: 80%;
    }

    footer nav i {
        display: inline !important;
    }

    footer nav .socials {
        gap: 10px;
        margin-top: 20px;

    }

    footer nav .socials a {
        margin: 0 10px;
        font-size: 35px;
    }
}